@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bm.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Ensures it covers full screen */
  background-attachment: fixed; /* Keeps background static */
}

/* Apply styles to the entire page */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #121212 #555; /* Thumb color + track color */
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333; /* Darker background for better contrast */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #181818; /* Almost black for dark mode */
  border-radius: 10px;
  border: 2px solid #555; /* Adds a border effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #242424; /* Slightly lighter hover effect */
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
