@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bm.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Ensures it covers full screen */
  background-attachment: fixed; /* Keeps background static */
}

/* Apply styles to the entire page */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #121212 #555; /* Thumb color + track color */
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333; /* Darker background for better contrast */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #181818; /* Almost black for dark mode */
  border-radius: 10px;
  border: 2px solid #555; /* Adds a border effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #242424; /* Slightly lighter hover effect */
}

